BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120

BreakBeforeBraces: Attach

AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: DontAlign
AlignOperands: false

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None

KeepEmptyLinesAtTheStartOfBlocks: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceBeforeAssignmentOperators: true

BinPackParameters: false
BinPackArguments: false

NamespaceIndentation: All
